aniso8601==7.0.0
asgiref==3.6.0
autopep8==2.0.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.3
dateparser==1.1.8
defusedxml==0.7.1
distlib==0.3.6
Django==4.1.5
django-ckeditor==6.5.1
django-jet-reboot==1.3.3
django-js-asset==2.0.0
django-solo==2.1.0
djangorestframework==3.14.0
filelock==3.9.0
freetype-py==2.3.0
graphene==2.1.9
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==2.0.2
idna==3.4
jet-bridge-base==1.8.2
jet-django==1.8.2
mysql-connector-python==8.0.33
oauthlib==3.2.2
Pillow==9.5.0
platformdirs==2.6.2
promise==2.3
prompt-toolkit==2.0.9
protobuf==3.20.3
psutil==5.9.5
pybase64==1.2.3
pycairo==1.23.0
pycodestyle==2.10.0
pycparser==2.21
PyJWT==2.8.0
pymssql==2.2.7
pyodbc==4.0.39
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.7
regex==2023.8.8
reportlab==4.0.0
requests==2.31.0
requests-oauthlib==1.3.1
rlPyCairo==0.2.0
Rx==1.6.3
six==1.16.0
social-auth-core==4.4.2
SQLAlchemy==1.4.49
sqlparse==0.4.3
tornado==6.3.3
tzdata==2022.7
tzlocal==5.0.1
urllib3==2.0.4
virtualenv==20.17.1
wcwidth==0.2.6
