{% extends 'base.html' %}
{% load static %}



{% block content %}
	<!-- End header -->
	
	<!-- Start header -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>About Us</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End header -->
	
	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 text-center">
					<div class="inner-column">
						{{html|safe}}
	
						<a class="btn btn-lg btn-circle btn-outline-new-white" href="{% url 'distributor_reg' %}">Become a distributer</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="card  shadow-lg p-3 mb-5 bg-white rounded about-img" style="">
					<img class="card-img-top" src="{% static 'images/owner_img.jpeg' %}" alt="Card image cap">
					<div class="card-body">
					<h3 class="card-title" style="text-align: center;">Abhijeet Singh Vaish</h3>
					<p style="text-align: center;">Founder</p>
					</div>
					</div>
					
					
						
					
				</div>
				<div class="col-md-12">
					<div class="inner-pt">
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->
	
	<!-- Start Menu -->
	
	<!-- End Menu -->
	
	
	<!-- End Contact info -->
	
{% endblock content %}