{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <h1>All Orders</h1>
    <div class="row">
      <div class="col-md-6">
        <h2>Open Orders</h2>
        {% for order in open_orders %}
          <div class="card mb-3">
            <div class="card-header">
              Order ID: {{ order.id }}
              <span class="badge bg-warning">Open</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Distributor Name: {{ order.distributor_name.user_companyname }}</h5>
              <p class="card-text">Order Date: {{ order.order_date }}</p>
              <h6>Order Items:</h6>
              <ul class="list-group">
                {% for order_item in order.orderitem_set.all %}
                  <li class="list-group-item">
                    Product: {{ order_item.product.product_name }}<br>
                    Quantity: {{ order_item.quantity }}
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="card-footer">
              <a href="{% url 'close_order' order.id %}" class="btn btn-primary">Close Order</a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="col-md-6">
        <h2>Closed Orders</h2>
        {% for order in closed_orders %}
          <div class="card mb-3">
            <div class="card-header">
              Order ID: {{ order.id }}
              <span class="badge bg-success">Closed</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Distributor Name: {{ order.distributor_name.user_companyname }}</h5>
              <p class="card-text">Order Date: {{ order.order_date }}</p>
              <h6>Order Items:</h6>
              <ul class="list-group">
                {% for order_item in order.orderitem_set.all %}
                  <li class="list-group-item">
                    Product: {{ order_item.product.product_name }}<br>
                    Quantity: {{ order_item.quantity }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
