{% extends 'base.html' %}
{% load static %}



{% block content %}
	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Blog</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start blog -->
	<div class="container">
	<div class="blog-box">
		<div class="">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Blog</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
					</div>
				</div>
			</div>
			<div class="row">

				{% for blog in blogs %}
				<div class="col-lg-4 col-md-6 col-12">
					<div class="blog-box-inner">
						<div class="blog-img-box">
							<img class="img-fluid" src="{% static 'images/blogs_bg.jpg' %}" alt="">
						</div>
						<div class="blog-detail">
							<h4>{{ blog.blog_heading }}</h4>
							<ul>
								<li><span>{{ blog.blog_author }}</span></li>
								<li>|</li>
								<li><span>{{blog.blog_posted_at}}</span></li>
							</ul>
							<p>{{blog.blog_text|slice:"600"}}</p>
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="{% url 'blog_detail' blog_id=blog.id %}">Read More</a>
						</div>
					</div>
				</div>
			{% endfor %}

			</div>
		</div>
	</div>
	</div>
	
	

	{% endblock content %}