{% extends 'base.html' %}
{% load static %}



{% block content %}

<!-- Start Stuff -->
<br>
<br>
<br>
<div class="categorey_page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Product Range</h2>
                    <p>Please select the categorey of products you are looking for</p>
                </div>
            </div>
        </div>

        <div class="row">
            {% for ctg in ctgs %}
            <div class="col-md-4 col-sm-6">
            
            
                <div class="mycat">
                    <div class="team-content">
                        <h3 style="color: black;" class="title">{{ ctg.category_name }}</h3>
                    
                    </div>
                    <a class="" href="{% url 'products' slug=ctg.id  %}">
                    <div class="pic categorypage">
                        <img  style="max-width: 500px; max-height:100%;"src="{{ ctg.catg_img.url }}">
                    </div>
                   
                </a>
               
                <!-- <button class="btn btn-success" type="button">Explore</button> -->
            
            </div>
                
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<!-- End Stuff -->

{% endblock content %}