{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Start slides -->
<div id="slides" class="cover-slides">
	<ul class="slides-container">
		<li class="text-left">
			<img class="" src="{% static 'images/bnew.jpg' %}" alt="" >
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="m-b-20" style="color: #a30a36;"><strong>Welcome To <br> Maan Foods</strong></h1>
						<p style="color:#E8C82F" class="m-b-40">Shuddhata ka paryay <br>
							<span style="color:#a30a36 ;"> with 100% natural ingredients</span></p>
						<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="products">Products</a></p>
					</div>
				</div>
			</div>
		</li>
		<li class="text-left">
			<img class="" src="{% static 'images/banner_2.jpg' %}" alt="" >
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1 class="m-b-20" style="color: #a30a36;"><strong>Welcome To <br> Maan Foods</strong></h1>
						<p style="color:#E8C82F" class="m-b-40">Shuddhata ka paryay <br>
							<span style="color:#a30a36 ;"> with 100% natural ingredients</span>
						</p>
						<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="products">Products</a></p>
					</div>
				</div>
			</div>
		</li>
	
	</ul>
	<div class="slides-navigation">
		<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
		<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
	</div>
</div>
<!-- End slides -->

<!-- Start About -->
<div class="about-section-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-11  text-center">
				<div class="inner-column">
					<h1>Welcome To <span>Maan Foods</span></h1>
					<h4>Little Story</h4>
					<div class="about_company">
					<p >Our vision is not only to spread the famous taste of Indore across India but also to share it with the entire world. Our
					goal is to carry the tagline of our company, <span style="color: #a30a36;">"Shuddhata ka Paryay,"</span> which translates to "serving pure and healthy
					foods," and we are dedicated to upholding it.</p>
					
					<p>At our core, we believe that everyone deserves to experience the authentic flavors of Indore, known for its culinary
					delights. Our mission is to capture the essence of this unique cuisine and present it in a way that satisfies taste buds
					far and wide.</p>
					
					<p>We are committed to sourcing the freshest and finest ingredients, ensuring that each dish we serve is prepared with
					utmost care and hygiene. Our emphasis on purity guarantees that our customers can trust the quality and wholesomeness of
					every bite.
					</p>
					<p>
					Through our relentless efforts, we aim to make the famous taste of Indore a household name across India. We want to
					introduce people from different regions and cultures to the diverse and delectable dishes that Indore has to offer.
					introduce people from different regions and cultures to the diverse and delectable dishes that Indore has to offer.</p>
					</div>
					<a class="btn btn-lg btn-circle btn-outline-new-white" href="distributor_reg">Become a Distributor</a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-11 ">
				<img  id="rotating_img" src="{% static 'images/rotating.png' %}" alt="" class="rounded-circle img-fluid">
			</div>
		</div>
	</div>
</div>

<!-- <div class="qt-box qt-background">
	<div class="container">
		<div class="row">
			<div class="col-md-8 ml-auto mr-auto text-center">
				<p class="lead ">
					"Made With 100% natural ingredients"
				</p>
				<span class="lead">Maan Foods</span>
			</div>
		</div>
	</div>
</div>

<div class="gallery-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="heading-title text-center">
					<h2>Best Sellers</h2>
					<p>Maan foods</p>
				</div>
			</div>
		</div>
		<div class="tz-gallery">
			<div class="row">
				{% for gall in galls %}
				<div class="col-sm-6 col-md-3 col-lg-3">
						<img class="img-fluid" src="{{ gall.gal_img.url }}" alt="Gallery Images">
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div> -->
<!-- End Gallery -->

<!-- End Categories -->

	<div class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Best Sellers</h2>
						<p>MAAN Foods</p>
					</div>
				</div>
			</div>
	
			<div class="row inner-menu-box">
				<div class="col-3">
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
							aria-controls="v-pills-home" aria-selected="true">Poha</a>
						<a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
							aria-controls="v-pills-profile" aria-selected="false">Dalia</a>
						<a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
							aria-controls="v-pills-messages" aria-selected="false">Gulab jamun pre mix </a>
							<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings"
								role="tab" aria-controls="v-pills-settings" aria-selected="false">Ready to eat poha Upma</a>
								<!-- <a class="nav-link" id="v-pills-settings" data-toggle="pill" href="#v-pills-settings" role="tab"
									aria-controls="v-pills-settings" aria-selected="false">Ready to eat poha Upma</a> -->

						
					</div>
				</div>
	
				<div class="col-9">
					<div class="tab-content" id="v-pills-tabContent">
						<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
							aria-labelledby="v-pills-home-tab">
							<div class="row">
							
	
								<div class="col-lg-6 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="{% static 'images/p1.png' %}" class="img-fluid" alt="Image">
										<div class="why-text">
											<h4>Indori Poha</h4>
											<p>Product description</p>
											<!-- <h5> $9.79</h5> -->
										</div>
									</div>
								</div>
	
								<div class="col-lg-6 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="{% static 'images/p2.png' %}" class="img-fluid" alt="Image">
										<div class="why-text">
													<h4>Indori Poha</h4>
													<p>Product description</p>
										</div>
									</div>
								</div>
	
							
	
								
	
	
							</div>
	
						</div>
						<div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
							aria-labelledby="v-pills-profile-tab">
							<div class="row">
					<div class="col-lg-6 col-md-6 special-grid drinks">
						<div class="gallery-single fix">
							<img src="{% static 'images/d1.png' %}" class="img-fluid" alt="Image">
							<div class="why-text">
								<h4>Dalia</h4>
								<p>Product description</p>
								<!-- <h5> $9.79</h5> -->
							</div>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 special-grid drinks">
						<div class="gallery-single fix">
							<img src="{% static 'images/d2.png' %}" class="img-fluid" alt="Image">
							<div class="why-text">
								<h4>Dalia</h4>
								<p>Product description</p>
							</div>
						</div>
					</div>
	
								
							</div>
	
						</div>
						<div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
							aria-labelledby="v-pills-messages-tab">
							<div class="row">
							<div class="col-lg-6 col-md-6 special-grid drinks">
								<div class="gallery-single fix">
									<img src="{% static 'images/g1.png' %}" class="img-fluid" alt="Image">
									<div class="why-text">
										<h4>Gulab jamun pre mix</h4>
										<p>Product description</p>
										<!-- <h5> $9.79</h5> -->
									</div>
								</div>
							</div>
							
							<div class="col-lg-6 col-md-6 special-grid drinks">
								<div class="gallery-single fix">
									<img src="{% static 'images/g2.png' %}" class="img-fluid" alt="Image">
									<div class="why-text">
										<h4>Gulab jamun pre mix</h4>
										<p>Product description</p>
									</div>
								</div>
							</div>
							</div>
						</div>
						<div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
							aria-labelledby="v-pills-settings-tab">
							<div class="row">
							<div class="col-lg-6 col-md-6 special-grid drinks">
								<div class="gallery-single fix">
									<img src="{% static 'images/u1.png' %}" class="img-fluid" alt="Image">
									<div class="why-text">
										<h4>Ready to eat Upma</h4>
										<p>Product desckdgfkshdription</p>
										<!-- <h5> $9.79</h5> -->
									</div>
								</div>
							</div>
							
							<div class="col-lg-6 col-md-6 special-grid drinks">
								<div class="gallery-single fix">
									<img src="{% static 'images/u2.png' %}" class="img-fluid" alt="Image">
									<div class="why-text">
										<h4>Ready to eat upma</h4>
										<p>Product description</p>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
		</div>
	</div>

	<div id="rajwad_img">
		
			
		<img style=" max-height: 600px; width: 100%;"src="{% static 'images/raj.jpg' %}" class="img-fluid" alt="Image">
	

	</div>

	
	<div class="categorey_page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Product Range</h2>
						<p>Please select the categorey of products you are looking for</p>
					</div>
				</div>
			</div>
	
			<div class="row">
				{% for ctg in ctgs %}
				<div class="col-md-4 col-sm-6">
	
	
					<div class="mycat">
						<div class="team-content">
							<h3 style="color: black;" class="title">{{ ctg.category_name }}</h3>
	
						</div>
						<a class="" href="{% url 'products' slug=ctg.id  %}">
							<div class="pic categorypage">
								<img style="max-width: 500px; max-height:100%;" src="{{ ctg.catg_img.url }}">
							</div>
	
						</a>
	
						<!-- <button class="btn btn-success" type="button">Explore</button> -->
	
					</div>
	
				</div>
				{% endfor %}
	
			</div>
		</div>
	</div>


<!-- Start Customer Reviews -->
	<div class="customer-reviews-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h3>Testimonial</h3>
					
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 mr-auto ml-auto text-center">
					<div id="reviews" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner mt-4">
							<div class="carousel-item text-center active">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="{% static 'images/quotations-button.png' %}" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Madhuri Gandhi</strong>
								</h5>
	
								<p class="m-0 pt-3">Nice Products and easy to cook. I specially love it's Poha.</p>
								<p><i style="color:#FAD04E;" class="fa-solid fa-star"></i><i style="color:#FAD04E;" class="fa-solid fa-star"></i><i style="color:#FAD04E;" class="fa-solid fa-star"></i><i style="color:#FAD04E;" class="fa-solid fa-star"></i><i  class="fa-solid fa-star" style="color:#FAD04E;"></i></p>
							</div>
							<div class="carousel-item text-center">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="{% static 'images/quotations-button.png' %}" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Bhavesh Sood</strong></h5>
	
								<p class="m-0 pt-3">Love the taste of Maan foods! I have been using its products since a
									very long time and not disappointed even a single
									time!</p>
									<p><i style="color:#FAD04E;" class="fa-solid fa-star"></i><i style="color:#FAD04E;" class="fa-solid fa-star"></i><i style="color:#FAD04E;" class="fa-solid fa-star"></i><i style="color:#FAD04E;" class="fa-solid fa-star"></i><i  class="fa-solid fa-star" style="background: linear-gradient(90deg, #FAD04E 50%, transparent 50%); -webkit-background-clip: text; color: transparent;"></i></p>
							</div>
							<div class="carousel-item text-center">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="{% static 'images/quotations-button.png' %}" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Ramesh Verma</strong></h5>
	
								<p class="m-0 pt-3">Excellent products & Instant Packs. Wonderful Taste!</p>
								<p><i style="color:#FAD04E;" class="fa-solid fa-star"></i><i style="color:#FAD04E;" class="fa-solid fa-star"></i><i style="color:#FAD04E;" class="fa-solid fa-star"></i><i style="color:#FAD04E;" class="fa-solid fa-star"></i><i  class="fa-solid fa-star" style="background: linear-gradient(90deg, #FAD04E 50%, transparent 50%); -webkit-background-clip: text; color: transparent;"></i></p>
							</div>
						</div>
						<a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
							<i class="fa fa-angle-left" aria-hidden="true"></i>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- End Customer Reviews -->

<!-- Start Contact info -->
<!-- <div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4 arrow-right">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							+01 123-456-4590
						</p>
					</div>
				</div>
				<div class="col-md-4 arrow-right">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							yourmail@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
							800, Lorem Street, US
						</p>
					</div>
				</div>
			</div>
		</div>
	</div> -->
<!-- End Contact info -->
{% endblock content %}