{% extends 'base.html' %}
{% load static %}



{% block content %}
<!-- Start Stuff -->
<br>
<br>
<br>
<div class="stuff-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Products</h2>
                    <p>Products of the specific category the user asked for</p>
                </div>
            </div>
        </div>

        <div class="row">
            {% for pro in pros %}
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                
                    <div class="pic">
                        <img src="{{ pro.prod_img.url }}">
                    </div>
                    <div class="team-content">
                        <h4 class="title">{{ pro.product_name }}</h4>
                        <p style="font-size: small; font:small-caption"><b>Description: </b> {{pro.product_description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<!-- End Stuff -->

{% endblock content %}