
{% extends 'base.html' %}
{% load static %}



{% block content %}
	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Registor to be a Distributor</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Reservation -->
	<div class="reservation-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Regester</h2>
						<p>good work</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="contact-block">
						<form method="post">
							{% csrf_token %}
							<div class="text-center"><h3>Desired Area For Agency</h3></div>
					
							<div class="row">
								<div class="col-md-6">

									<div class="col-md-12">
										<div class="form-group">
											<input  class="form-control" name="applicant_state_name" type="text" placeholder="State Name">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>
									
									<div class="col-md-12">
										<div class="form-group">
											<input  class="form-control" name="applicant_district_name" placeholder="District Name">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>
									

								</div>

								<div class="col-md-6">
									
									<div class="col-md-12">
										<div class="form-group">
											<input  class="form-control" name="applicant_tulka" placeholder="Tulka">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>

								</div>
					
							</div>  
							
							<div class="text-center"><h3>Personal Info</h3></div>
				
							<div class="row">
								<div class="col-md-6">

									<div class="col-md-12">
										<div class="form-group">
											<input  class="form-control" name="personal_name" type="text" placeholder="Name">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>
									
									<div class="col-md-12">
										<div class="form-group">
											<input  class="form-control" name="personal_age" type="age" placeholder="Age">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>

									<div class="col-md-12">
										<div class="form-group">
											<input  class="form-control" name="personal_address" type="address" placeholder="Address">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>

									<div class="col-md-12">
										<div class="form-group">
											<input  class="form-control" name="personal_pincode" type="text" placeholder="Pincode">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>

									<div class="col-md-12">
										<div class="form-group">
											<input  class="form-control" name="personal_companyname" type="text" placeholder="Company Name">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>
									

								</div>
							
								<div class="col-md-6">
									
									<div class="col-md-12">
										<div class="form-group">
											<input  class="form-control" name="personal_mobile" placeholder="Mobile" type="phone">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>

									<div class="col-md-12">
										<div class="form-group">
											<input  class="form-control" name="personal_alt_mobile" placeholder="Alternate Mobile" type="phone">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>
									
									<div class="col-md-12">
										<div class="form-group">
											<input  class="form-control" name="personal_telephone" type="tel" placeholder="Telephone no.">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>
									
									<div class="col-md-12">
										<div class="form-group">
											<input  class="form-control" name="personal_email" type="email" placeholder="Email">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>

									<div class="col-md-12">
										<div class="form-group">
											<input  class="form-control" name="personal_educational_details" type="text" placeholder="Educational Details">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>

								</div>
								

							</div> 


							<div class="text-center"><h3>Partner Info</h3></div>
					
							<div class="row">
								<div class="col-md-6">

									<div class="col-md-12">
										<div class="form-group">
											<input class="form-control" name="partner_name" type="text" placeholder="Partner Name">
											<div class="help-block with-errors"></div>
										</div>
									</div>
							
									<div class="col-md-12">
										<div class="form-group">
											<input class="form-control" name="partner_address" type="text" placeholder="Partner Address">
											<div class="help-block with-errors"></div>
										</div>
									</div>
							
									<div class="col-md-12">
										<div class="form-group">
											<input class="form-control" name="partner_pincode" type="text" placeholder="Partner Pincode">
											<div class="help-block with-errors"></div>
										</div>
									</div>
							
									<div class="col-md-12">
										<div class="form-group">
											<input class="form-control" name="partner_mobile" placeholder="Partner Mobile" type="tel">
											<div class="help-block with-errors"></div>
										</div>
									</div>		

								</div>
							
								<div class="col-md-6">
									
									<div class="col-md-12">
										<div class="form-group">
											<input class="form-control" name="partner_alt_mobile" placeholder="Partner Alternate Mobile" type="tel">
											<div class="help-block with-errors"></div>
										</div>
									</div>
							
									<div class="col-md-12">
										<div class="form-group">
											<input class="form-control" name="partner_telephone" type="tel" placeholder="Partner Telephone">
											<div class="help-block with-errors"></div>
										</div>
									</div>
							
									<div class="col-md-12">
										<div class="form-group">
											<input class="form-control" name="partner_email" type="email" placeholder="Partner Email">
											<div class="help-block with-errors"></div>
										</div>
									</div>

								</div>
								

							</div> 

							<div class="text-center"><h3>Other Info</h3></div>
					
							<div class="row">
								<div class="col-md-6">

									<div class="col-md-12">
										<div class="col-md-12">
											<div class="form-group">
											  <label>Do you have storage Facility ?</label><br>
											  <input type="radio" name="storage_option" value="yes" onclick="toggleStorageField(true)">
											  <label>Yes</label>
											  <input type="radio" name="storage_option" value="no" onclick="toggleStorageField(false)">
											  <label>No</label>
											  <div class="help-block with-errors"></div>
											</div>
										  </div>
										  
										  <div class="col-md-12" id="storageField" style="display: none;">
											<div class="form-group">
											  <input class="form-control" name="applicant_storage_info" type="number" placeholder="Amount of Storage in square feet">
											  <div class="help-block with-errors"></div>
											</div>
										  </div>
									</div>

									<script>
										function toggleStorageField(showField) {
									var storageField = document.getElementById("storageField");
									if (showField) {
										storageField.style.display = "block";
									} else {
										storageField.style.display = "none";
									}
									}
									</script>


							<div class="col-md-12">
								<div class="col-md-12">
									<div class="form-group">
									<label>Do you have Transportation facility  ?</label><br>
									<input type="radio" name="transport_option" value="yes" onclick="toggleStorageField1(true)">
									<label>Yes</label>
									<input type="radio" name="transport_option" value="no" onclick="toggleStorageField1(false)">
									<label>No</label>
									<div class="help-block with-errors"></div>
									</div>
								</div>
								
								<div class="col-md-12" id="storageField1" style="display: none;">
									<div class="form-group">
									<input class="form-control" name="applicant_transport_info" type="text" placeholder="Enter details of vehichle">
									<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>

							<script>
							function toggleStorageField1(showField) {
							var storageField = document.getElementById("storageField1");
							if (showField) {
							storageField.style.display = "block";
							} else {
							storageField.style.display = "none";
							}
							}
							</script>

									
									

								</div>

								<div class="col-md-6">

									<div class="col-md-12">
										<div class="form-group">
										  <label>What is your investment capacity?</label><br>
										  <input type="radio" name="applicant_invesment_capacity" value="below_5_lakh">
										  <label>Below 5 lakh</label><br>
										  <input type="radio" name="applicant_invesment_capacity" value="more_than_5_lakh">
										  <label>More than 5 lakh</label><br>
										  <input type="radio" name="applicant_invesment_capacity" value="more_than_15_lakh">
										  <label>More than 15 lakh</label><br>
										</div>
									  </div>
									
									  <div class="col-md-12">
										<div class="form-group">
										  <label>Other Experience Details</label>
										  <textarea class="form-control" name="applicant_experience" placeholder="Enter other experience details"></textarea>
										  <div class="help-block with-errors"></div>
										</div>
									  </div>

								</div>
								

								<div class="col-md-12">
									<div class="submit-button text-center">
										<button class="btn btn-common" type="submit">Registor to be a Distributor</button>
										<div id="msgSubmit" class="h3 text-center hidden"></div> 
										<div class="clearfix"></div> 
									</div>
								</div>
							
							</div> 

						</form>
					</div>
				</div>
			</div>


		</div>
	</div>
	<!-- End Reservation -->
	
	
	{% endblock content %}