{% extends 'base.html' %}
{% load static %}



{% block content %}
<h1>thanks</h1>
    <div class="blog-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <i style="font-size: 7em; color: rgb(3, 96, 139);" class="fa-regular fa-circle-check"></i>
                        <h2>Form success</h2>
                        <p>Thanks for registering as a distributer, our team will get back to you soon</p>
                        <br>
                        <button class="btn"><a href="{% url 'index' %}">Back to home</a></button>
                    </div>
                </div>
            </div>
            <div class="row">
    
            
         
               
    
            </div>
        </div>
    </div>

{% endblock content %}